GIS/SRTM_hudon.tif
*.tiff
*.png
Data/3286005.csv
Data/.ipynb_checkpoints/3286005-checkpoint.csv
GIS/flow_acc.prj
GIS/flow_acc.sdat
GIS/flow_acc.sgrd
GIS/reproject flowacc.sdat
GIS/reproject flowacc.sgrd
GIS/flow_acc.sdat.aux.xml
Data/E/adaptor.mars.internal-1680592080.5311086-6141-18-2bb58ddc-71bc-4669-a9cd-4e31de0f1a65.grib
Data/E/adaptor.mars.internal-1680592080.5311086-6141-18-2bb58ddc-71bc-4669-a9cd-4e31de0f1a65.grib.923a8.idx
Data/E/Ep_1989_GLEAM_v3.6a.nc
Data/E/adaptor.mars.internal-1680602386.1701012-8965-6-e4b7b0e9-8928-4fa0-a4d2-6648c4dd101f.grib
Data/E/adaptor.mars.internal-1680602386.1701012-8965-6-e4b7b0e9-8928-4fa0-a4d2-6648c4dd101f.grib.923a8.idx
Data/EP/era5.grib
Data/T/3292614.csv
GIS/filled_dem.tif
GIS/filled_dem.tif.aux.xml
GIS/flow direction.tif
GIS/flow direction.tif.aux.xml
GIS/srtm_hudson_basin.tif
GIS/srtm_hudson_basin.tif.aux.xml
*.tif
*.xml
*.tiff_transform
GIS/classification_of_waterbodies_26918.tif_transform
